.navbar-dark{
    background-color: #000249;
}
.nav-item{
    color: #fff;
}
.card-deck{
    padding: 50px;
}
.btn-search{
    color: #FF5151;
    border-color: #FF5151;
    background-color: transparent;
    transition: all 0.5s;
    cursor: pointer;
    width: 125px;
}
.btn-search:hover{
    color: #fff;
    background-color: #FF5151;
    border-color: #FF5151;
}
.btn-search span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-search span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-search:hover span {
  padding-right: 15px;
}

.btn-search:hover span:after {
  opacity: 1;
  right: 0;
}
.body{
    background-color: black;
}
